body {
    background-color: #c5e3f6;
    color: #0e153a;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #e2f3f5;
}
form {
    display: flex;
    flex-direction: column;
    width: 200px;
}
input {
    display: inline;
    margin: 5px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
td:hover {
    color: white;
    background-color: #0e153a;
}
